            table {
                border: 10px solid gray ;
                background: lightyellow ;
                border-radius: 10px ;
            }
            table td{
                height: 100px ;
                width: 100px ;
            }
            .eqq {
                width: 200px ;
            }
            button {
               height: 100px ;
               width: 100px ;
                font-size: 70px ;
                grid-row-gap :200px;
                background: rgba(59,173,227,1);
                background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
                color: black;
            }
            #screen {
                border: 2px solid gray ;
                width:  400px;
                height: 50px ;
                border-top: none    ;
                text-align: right;
                font-size: 40px ;
                font-weight: bold ;
            }
            #actions {
                border: 2px solid gray ;
                width: 400px ;
                height: 30px;
                border-bottom: none ;
                font-size: 20px ;
                font-weight: bold ;
            }
